.header {
  background-color: var(--color-primary-dark);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    cursor: pointer;
    color: var(--color-grey-light-6);
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    & h3 {
      font-size: 1.3rem;
      color: inherit;
      letter-spacing: 0.05rem;
    }

    &--active {
      color: var(--color-grey-light-1);
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin-right: 1rem;
  }
}
